@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');

:root{
    --primary: #EEEEEE;
    --secondary: black;
    --accent-1: #DC5F00;
    --accent-2: #CF0A0A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: sans-serif;
}

.nav-list{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    padding: 16px;
}

.list-item{
    border: 0;
    /* border-radius: 18px; */
    padding: 24px 36px;
    font-size: 24px;
    transition: transform 0.3s;
}

.list-item:hover{
    /* border-bottom: 2px solid var(--accent-1); */
    transform: translateY(-10%);
}

.active-tab{
    border-bottom: 2px solid;
}

li{
    list-style-type: none;
}

.content{
    width: 75vw;
    /* border: 1px solid; */
    margin: 28px auto;
}

/* Home Page */

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    text-align: center;
    margin: 24px;
    font-size: 42px;
}

.heading p{
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
}

.detail{
    width: 30%;
    margin: 20px auto 64px;
    font-size: 19px;
    text-align: center;
}

iframe{
    width: 60%;
}

/* Menu Page */

.menu-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-page img{
    height: 255px;
}

.menu-page h1{
    font-size: 40px;
    margin-top: 24px;
}

.momo-menu, .burger-menu, .stick-menu{
    display: flex;
    /* align-items: center; */
    margin: 48px;
    width: 690px;
    justify-content: space-between;
}

.momo-menu{
    flex-direction: row-reverse;
}

.momo-menu ul, .burger-menu ul, .stick-menu ul{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    padding-top: 25px;
}

.menu-page li{
    list-style: disc;
    margin: 8px 0;
}

/* Gallery Page */

.gallery-grid{
    margin: 52px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.gallery-grid img{
    height: auto;
    width: 480px;
}


/* Contact Page */

.contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 52px;
}

.contact-page *{
    margin: 12px;
}

a{
    text-decoration: none;
    font-size: 28px;
    color: black;
}
